@import "colors";

#login-options {
	list-style-type: none;
	
	a {
		display: block;
		margin-right: 20px;
		float: left;
		
		li {
			width: 200px;
			padding: 10px;
			background-color: $deep_alternate;
			
			img {
				float: left;
				margin-right: 10px;
			}
		}
		
		color: $off_white;
		font-size: 22px;
		font-weight: bold;
		
		p {
			margin-top: 20px;
		}
	}
	
	a:last-child {
		margin-right: 0;
	}
}